@model LogInViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link href="~/css/LoginCss.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- Include the above in your HEAD tag -->

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <div class="main">


        <div class="container">
            <center>
                <div class="middle">
                    <div id="login">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @if (TempData["message"] != null)
                        {
                            <div class="text-success">@TempData["message"]</div>
                        }

                        @if (TempData["ActivationKeyMessage"] != null)
                        {
                            <div>@TempData["ActivationKeyMessage"]</div>
                        }

                        <form method="post" asp-controller="LogIn" asp-action="LogIn" asp-route-yonlen="@ViewBag.yonlen">

                            <fieldset class="clearfix">

                                <p><span class="fa fa-user"></span><input asp-for="Email" placeholder="Kullanıcı adı" type="email" required></p>
                                <span asp-validation-for="Email" class="text-danger"></span>
                                <p><span class="fa fa-lock"></span><input asp-for="Password" placeholder="Parola" type="password" required></p>
                                <span asp-validation-for="Password" class="text-danger"></span>

                                <p><span></span></p>
                                <div>
                                    <span style="width:48%; text-align:left;  display: inline-block;">
                                        <a class="small-text" href="#">
                                            Şifremi unuttum?
                                        </a>
                                    </span>
                                    <span style="width:50%; text-align:right;  display: inline-block;"><input type="submit" value="GİRİŞ"></span>
                                </div>

                            </fieldset>
                            <div class="clearfix"></div>
                        </form>

                        <div class="clearfix"></div>

                    </div> <!-- end login -->
                    <div class="logo">
                        LOGO

                        <div class="clearfix"></div>
                    </div>

                </div>
            </center>
        </div>

    </div>
</body>
</html>
