@model List<EmployeeListVM>
@{
    ViewData["Title"] = "EmployeeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    @foreach (var item in Model)
    {
        <div class="row m-2">
            <div class="col-md-3 col-sm-12"></div>
            <div class="card"style="width:18rem;">
                <img class="card-img" src="~/images/@item.Photo" />
                <div class="card-body text-center">
                    <h4 class="card-title">@item.FirstName @item.LastName </h4>
                    <a class="btn btn-info" href="~/Manager/EmployeeDetail/@item.ID" >Personel Detayı</a>
                </div>
            </div>
        </div>
    
    }
</div>

