<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Employee" asp-action="Index">
        <div class="img-fluid">
            <img src="https://unsplash.it/30/30" />
        </div>
        @if (Context.Session.GetString("userId") != null)
        {
            <div class="sidebar-brand-text mx-3">@Context.Session.GetString("usercompany")</div>

        }

    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Pages Collapse Menu -->
    <!--<li class="nav-item active">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
           aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
        </a>
        <div id="collapsePages" class="collapse show" aria-labelledby="headingPages"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">İşlemler:</h6>
                <a class="collapse-item" asp-controller="Home" asp-action="Index">Index</a>
                <a class="collapse-item" asp-controller="Home" asp-action="WebGrid">WebGrid</a>
                <a class="collapse-item" asp-controller="Home" asp-action="Create">WebGride kayıt ekle</a>

                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Other Pages:</h6>
                <a class="collapse-item" href="/home/index">Index</a>
                <a class="collapse-item active" href="blank.html">Blank Page</a>
            </div>
        </div>
    </li>-->
    <li class="nav-item ">
        <a class="nav-link text-center" href="#">Avanslar</a>
    </li>

    <li class="nav-item ">
        <a class="nav-link text-center" href="#">Harcamalar</a>
    </li>
    <li class="nav-item ">
        <a class="nav-link text-center" href="#">Zimmetler</a>
    </li>
    <li class="nav-item ">
        <a class="nav-link text-center" href="#">İzinler</a>
    </li>
    <li class="nav-item ">
        <a class="nav-link text-center" href="#">Vardiya</a>
    </li>
     <li class="nav-item ">
        <a class="nav-link text-center" href="~/Calendar/Index">Takvim</a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <li class="nav-item ">
        <a class="nav-link text-center" href"#">Hesabım @Context.Session.GetString("username")</a>
    </li>
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
