<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    @if (Context.Session.GetString("username") != null)
    {
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Employee" asp-action="Index" asp-route-yonlen="/Employee/Index/@Context.Session.GetString("userId")">
            <div class="img-fluid">
                <img src="https://unsplash.it/30/30" />
            </div>
            @if (Context.Session.GetString("userId") != null)
            {
                <div class="sidebar-brand-text mx-3">@Context.Session.GetString("usercompany")</div>

            }

        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <li class="nav-item ">
            <a class="nav-link text-center" href="#">Avanslar</a>
        </li>

        <li class="nav-item ">
            <a class="nav-link text-center" href="#">Harcamalar</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-center" href="#">Zimmetler</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-center" href="#">İzinler</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-center" href="#">Vardiya</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-center" href="~/Calendar/Index/@Context.Session.GetString("userId")">Takvim</a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <li class="nav-item ">
            <a class="nav-link text-center" href="#"> Hesabım @Context.Session.GetString("username")</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark btn btn-danger" asp-controller="LogIn" asp-action="LogOut"> Log Out (@Context.Session.GetString("username"))</a>
        </li>
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    }
    </ul>
