@model InsanKaynaklari.Entities.Concrete.Expense

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Expense</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CheckDocument" class="control-label"></label>
                <input asp-for="CheckDocument" class="form-control" />
                <span asp-validation-for="CheckDocument" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Explanation" class="control-label"></label>
                <input asp-for="Explanation" class="form-control" />
                <span asp-validation-for="Explanation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmStatus" class="control-label"></label>
                <select asp-for="ConfirmStatus" class="form-control"></select>
                <span asp-validation-for="ConfirmStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpenseTypeID" class="control-label"></label>
                <select asp-for="ExpenseTypeID" class="form-control" asp-items="ViewBag.ExpenseTypeID"></select>
                <span asp-validation-for="ExpenseTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonelID" class="control-label"></label>
                <select asp-for="PersonelID" class="form-control" asp-items="ViewBag.PersonelID"></select>
                <span asp-validation-for="PersonelID" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
