@model ChangePasswordVM
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid m-2">

    @if (TempData["message"] is not null)
    {
        <div class="text-danger">
            @TempData["message"]
        </div>
    }
    <form asp-controller="Settings" asp-action="ChangePassword" enctype="multipart/form-data">
        <input asp-for="ID" type="hidden" />
        <input asp-for="Password" type="hidden" />
        <div class="row">
            <div class="form-group">
                <label asp-for="PasswordControl" class="custom-control-label"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label asp-for="NewPassword" class="custom-control-label"></label>
                <input type="password" asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label asp-for="NewPasswordControl" class="custom-control-label"></label>
                <input type="password" asp-for="NewPasswordControl" class="form-control" />
                <span asp-validation-for="NewPasswordControl" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <input type="submit" value="Şifre Değiştir" class="btn btn-info" />
            </div>
        </div>





    </form>
</div>
