@model ChangePasswordVM
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ChangePassword</h1>

<div class="container-fluid">
    <form asp-controller="Settings" asp-action="ChangePassword" enctype="multipart/form-data">
        <input asp-for="ID" type="hidden" />
        <div class="row">
            <div class="form-group">
                <label asp-for="Password" class="custom-control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label asp-for="PasswordControl" class="custom-control-label"></label>
                <input asp-for="PasswordControl" class="form-control" />
                <span asp-validation-for="PasswordControl" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <input type="submit" value="Şifre Değiştir" class="btn btn-info" />
            </div>
        </div>





    </form>
</div>
