@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap CSS-->
    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!--fullcalender plugin-->
    <link href='~/lib2/main.css' rel='stylesheet' />
    <script src='~/lib2/main.js'></script>
    <script src='~/lib2/locales-all.js'></script>
    <link href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet'>
    <script>

        document.addEventListener('DOMContentLoaded', function() { 
          var calendarEl = document.getElementById('calendar');

          var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
              left: 'prev,next today',
              center: 'title',
              right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            initialDate: '2022-04-20',
            locale: "tr",
            themeSystem: "bootstrap",
            navLinks: true, // can click day/week names to navigate views
            selectable: true,
            selectMirror: true,
            select: function(arg) {
              var title = prompt('Event Title:');
              if (title) {
                calendar.addEvent({
                  title: title,
                  start: arg.start,
                  end: arg.end,
                  allDay: arg.allDay
                })
              }
              calendar.unselect()
            },
            eventClick: function(arg) {
              if (confirm('Are you sure you want to delete this event?')) {
                arg.event.remove()
              }
            },
            editable: true,
            dayMaxEvents: true, // allow "more" link when too many events
            events: "/Calendar/GetAllEvent/"
          });

          calendar.render();
        });

    </script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div id='calendar'></div>
    </div>
    <!--Bootstrap Script Files-->
    <script src="../twitter-bootstrap/js/bootstrap.js"></script>
</body>
</html>

